@media (max-width: 1335px) {
  .effect-2,
  .effect-32 {
    opacity: 25%;
  }
  .home-section {
    position: fixed;
    padding-left: 170px;
    padding-right: 30px;
  }
}
@media (max-width: 1125px) {
  .home-section {
    position: fixed;
    padding-left: 60px;
    padding-right: 30px;
  }
}
@media (max-width: 1025px) {
  .home-section {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 991px) {
  .project-section .project-item,
  .service-section .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 770px) {
  .contact-section .w-50,
  .contact-section .contact-item,
  .section-title h2,
  .project-popup .description,
  .project-popup .info,
  .project-section .project-item,
  .service-section .service-item,
  .about-section .skills .skill-item,
  .about-section .about-info,
  .about-section .about-img,
  .home-section .home-text,
  .home-section .home-img {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home-section .home-text {
    order: 2;
  }
  .about-section .about-info,
  .contact-section .submit-btn,
  .home-section .home-text {
    text-align: center;
  }
  .home-section .full-screen {
    padding: 100px 0;
  }
  .home-section .home-img .home-box {
    margin-bottom: 40px;
    max-width: 350px;
  }
  .effect-3 {
    margin-left: -60px;
  }
  .effect-4 {
    left: 15%;
  }
  .effect-5 {
    right: 4%;
  }
  .about-section .about-img {
    padding-bottom: 30px;
  }
  .about-section .timeline .timeline-item:nth-child(odd) {
    padding-right: 15px;
    text-align: left;
    padding-left: 75px;
  }
  .about-section .timeline .timeline-item:nth-child(even) {
    padding-left: 75px;
  }
  .about-section .timeline:before {
    left: 35px;
  }
  .about-section .timeline .timeline-item:nth-child(odd) .icon {
    right: auto;
    left: -60px;
  }
  .about-section .timeline .timeline-item:nth-child(even) .icon {
    left: -60px;
  }
  .about-section .timeline .timeline-item {
    margin-bottom: 40px;
  }
  .about-section .timeline .timeline-item:last-child {
    margin-bottom: 0;
  }
  .about-section
    .timeline
    .timeline-item:nth-child(odd)
    .timeline-item-inner:before {
    left: -30px;
    right: auto;
  }
  .home-section .home-img .img-box {
    max-width: 370px;
  }
  .home-section .home-text h2 {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .logo .grad-col1 {
    display: none;
  }
}
@media (max-width: 574px) {
  .home-section .home-img .img-box {
    max-width: 260px;
  }
  .achieve-section .achieve-item h3 {
    font-size: 10px;
    font-weight: 800;
  }
  .achieve-section .achieve-item p {
    font-size: 8px;
    font-weight: 600;
  }
}
@media (max-width: 440px) {
  .about-section .skills .skill-item p {
    font-size: 5px;
  }
  .about-section .skills .skill-item .progress-bar span {
    font-size: 12px;
    font-weight: 600;
    right: -40px;
  }
}
@media (max-width: 320px) {
  .home-section .home-img .img-box {
    max-width: 250px;
  }
  .home-section .home-text h1 {
    font-size: 13px;
  }
  .home-section .home-text h2 {
    font-size: 30px;
  }
  .home-section .home-text p {
    font-size: 13px;
  }
}
